<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="datetimeformat" value="yyyy/MM/dd HH:mm:ss" />
		<add key="loggEncoding" value="" />
		<add key="log1" value="D:\test\log1.log" />
		<add key="log2" value="D:\test\log2.log" />
		<add key="log3" value="D:\test\log3.log" />
		<add key="isExportTable" value="true" />
		<add key="host" value="localhost" />
		<add key="port" value="5432" />
		<add key="user" value="hadoop" />
		<add key="password" value="hadoop" />
		<add key="dbname" value="spring-sample" />
		<add key="nullString" value="[null]"/>
	</appSettings>
</configuration>